.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 48px;
    border: 1px solid #ffff;
    border-radius: 8px;
    background-color: #8A33FD;
    color: #ffff;
    cursor: pointer;
}

.button:hover {
    border: 1px solid #3C4242;
    background-color: #ffff;
    color: #8A33FD;
}