.modal-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
}

.active {
    display: flex;
}

.modal {
    position: relative;
    width: 560px;
    height: auto;
    padding: 56px;
    border-radius: 10px;
    background-color: #ffff;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-header {
    text-align: center;
    margin-bottom: 32px;
    font-size: 32px;
}

.modal-body {
    margin-bottom: 64px;
    text-align: center;
    font-size: 16px;
}

.modal-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}